@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;700&display=swap');

:root {
    --color-black : #000000;
    --color-white : #FFFFFF;
    --color-yellow: #F2C94C;
    --color-yellow: #B62828;
    --fw-700: 700;
    --fw-400: 400;
    --font-family: 'Ruda', sans-serif;
}